@import url("https://fonts.googleapis.com/css?family=Cinzel");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Cinzel";
  background-color: rgb(10, 10, 10);
  color: #ffff;
}
a {
  text-decoration: none;
  color: #ffff;
}
.parent_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 24px;
}

.date_container {
  display: flex;
  gap: 24px;
  border: 2px solid #e4b66f;
  padding: 16px;
}
a:hover {
  color: #e4b66f;
}
